<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Finance Dashboard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-outlined">
                    house
                </span>
                <span style="margin-left: 5px">Home</span>
            </NavLink>
        </div>
        <AuthorizeView Roles="Customer">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="expenses">
                        <span class="material-symbols-outlined">
                            paid
                        </span>
                        <span style="margin-left: 5px">My Expenses</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="incomes">
                        <span class="material-symbols-outlined">
                            payments
                        </span>
                        <span style="margin-left: 5px">My Incomes</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="statistics">
                        <span class="material-symbols-outlined">
                            monitoring
                        </span>
                        <span style="margin-left: 5px">Statistics</span>
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="settings">
                        <span class="material-symbols-outlined">
                            settings
                        </span>
                        <span style="margin-left: 5px">Settings</span>
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
